:root {
  --card-radius: 5px;
}
body{
    font-family: monospace;
    font-size: 14px;
    height: 100%;
    width: auto;
    padding: 0px;
    display: flex;
    position: relative;
    margin: 0px;
    overflow: hidden;
    background-color: wheat;
    z-index: 100;
}

.modal {
    width: 100%;
    height: 80px;
    color: white;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    left: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open{
    transition: transform 450ms ease-in-out;
    transform: translateY(-50vh);
    pointer-events: none;
}

.modal.close{
    transition: transform 450ms ease-in-out;
    transform: translateY(300%);
}

div.hr {
  width: 80%;
  height: 1px;
  background-color: #0000002e;
  margin: 0px 0px 15px 0px;
}

#game {
    display: grid;
    width: 100%;
    height: auto;
    max-height: 100%;
    grid-template-areas: 
      "deck dealer dealer"
      "deck dealerTotal dealerTotal"
      "betZone playerTotal playerTotal"
      "betZone player player"
      "controls controls controls"
      "footer footer footer";
    grid-template-rows: minmax(100px, 175px) minmax(35px, min-content) minmax(35px, min-content) 175px minmax(100px, auto) 30px;
    grid-template-columns: minmax(100px,auto) max-content;
    margin: 40px 30px 10px 30px;
}
#playerTotal{
  grid-area: playerTotal;
  min-height: 10px;
  align-self: end;
}
#dealerTotal{
  grid-area: dealerTotal;
  min-height: 10px;
  align-self: start;
}
#dealer {
  display: flex;
  grid-area: dealer;
}

#player {
  display: flex;
  align-items: flex-end;
  grid-area: player;
}
a{
  text-decoration: none;
  color: #5461ff;
}
game-chip{
  z-index: 100;
  position:absolute;
  transition: all 3500ms ease-out;
}
game-chip.move-up{
  transform: translateY(-2000px);

}
game-chip.move-down{
  transform: translateY(2000px);
}

#player game-card:nth-child(n) {
  margin-right: -45px;
}

#dealer game-card:nth-child(n) {
  margin-right: -45px;
}

#controls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-area: controls;
  min-height: 100px;
}
#controls button{
  margin-right: 20px;
}
#gameFooter {
  grid-area: footer;
}

button {
  font-family: monospace;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
}

button:focus{
  outline: 0px;
}
button:disabled {
  cursor: not-allowed;
}
button.menu-button{
  font-size: 16px;
  border-radius: 0px;
  width: auto;
  height: 55px;
  padding: 0px 20px;
}
#btnHit {
  background: white;
}
#btnHold {
  background: white;
}
#btnBet {
  background: white;
}
#betzone {
  display: flex;
  grid-area: betZone;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  border: 1px dashed black;
  justify-self: center;
  align-self: end;
  align-items: center;
  justify-content: center;
}
#betzone game-chip:nth-child(n+3) {
  margin-right: -15px;
  margin-top: -20px;
}

.txt-betzone {
  position: absolute;
  margin: 0 auto;
  z-index: 100;
}

#deck {
  display: flex;
  position: relative;
  grid-area: deck;
  border: 1px solid black;
  border-radius: var(--card-radius);
  height: 105px;
  width: 75px;
  justify-self: center;
}

/* back-side is a class added to a Card to make sure we inherit the pattern class from the parent*/
.pattern0 .back-side {
  background-color: white;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(200,0,0,1) 5px, rgba(200,0,0,1) 20px);
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}
.pattern1 .back-side {
  background-color:rgba(200,0,0,1);
  background-image: radial-gradient(white 15%, transparent 16%),
  radial-gradient(white 15%, transparent 16%);
  background-size: 45px 45px;
  background-position: 50px 5px, 30px 25px;
  width: 100%;
  height: 100%;
}
.pattern2 .back-side {
  background-color:white;
  background-image:
  radial-gradient(midnightblue 9px, transparent 10px),
  repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  width: 100%;
  height: 100%;
}
.pattern3 .back-side {
  background-color:white;
  background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
  linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
  background-size:10px 10px;
  width: 100%;
  height: 100%;
}
.pattern4 .back-side {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  width: 100%;
  height: 100%;
}
.pattern5 .back-side {
  background-color: rgba(200,0,0,.5);
  background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 20px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 20px),
    linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 75px 105px;
  width: 100%;
  height: 100%;
}
#cardSelector{
  display: flex;
  flex-flow: row;
}
#cardSelector div[class^="pattern"] {
  width: 75px;
  height: 50px;
}
.arrow {
  margin: 0px 15px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bolder;
}
#game.subscriber {
  border-color: gold;
}
h4{
  margin: 15px 0px 0px 0px;
  text-align: center;
}
.game-info{
    position: absolute;
    display: flex;
    min-height: 50px;
    max-height: 50px;
    width: 100%;
    flex-flow: row;
    margin-right: 30px;
    justify-content: flex-end;
    align-items: center;
}
#menu{
  position: relative;
  margin-right: 30px;
  font-size: 20px;
  cursor: pointer;
  z-index: 300;
}
#mainMenuBackdrop{
  position: absolute;
  background-color:white;
  opacity: 0.8;
}
#mainMenuContainer.open #mainMenuBackdrop {
  height: 100%;
  width: 100%;
  z-index: 200;
}
#mainMenuContainer.close #mainMenuBackdrop {
  height: 0%;
  width: 0%;
  z-index: 0;
}
#mainMenu {
  position: absolute;
  display: flex;
  z-index: 300;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  font-size: 24px;
}
#mainMenu div, #mainMenu h4 {
  margin-bottom: 20px;
}
#mainMenuContainer.close #mainMenu {
  z-index: 0;
  width: 0px;
  height: 0px;
  transform: translateX(-400px);
}
#mainMenuContainer.close #mainMenu div{
  display: none;
}
#closeMenu{
  cursor: pointer;
}

.hidden{
    display: none;
}

@media screen and (min-width: 600px) {
  #game {
    margin: 80px 150px 40px 150px;
  }
}